In [ ]:
print("hello")

In [1]:
import numpy as np
import pandas as pd

In [40]:
data = pd.read_csv('matches_csv.csv')

In [41]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
data.shape

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
data.head()

In [ ]:
data.head(2)

In [ ]:
data.tail()

In [ ]:
data.tail(2)

# Fetching rows and columns START

In [ ]:
data['winner']

In [ ]:
data[['team1', 'team2', 'winner']]

In [ ]:
data.iloc[0]

In [ ]:
data.iloc[0:10]

In [ ]:
data.iloc[10:20:2]

In [ ]:
data.iloc[[1,4,8]]

In [ ]:
data.iloc[:,[4,5,10]]

In [ ]:
data

In [ ]:
data['team1']

In [ ]:
data[['team1', 'team2']]

In [ ]:
data.iloc[0]

In [ ]:
data.iloc[0:5]

In [ ]:
data.iloc[9:45:3]

In [ ]:
data.iloc[[4,5,6]]

In [ ]:
data.iloc[:, [2,3,8]]

In [ ]:
data.iloc[[0,1,2],[1,2,3]]

In [ ]:
# How would you fetch the 'team1' column from the DataFrame?
data['team1']

In [ ]:
# Can you fetch the 'team1', 'team2', and 'winner' columns together from the DataFrame?
data[['team1', 'team2', 'winner']]

In [ ]:
# How would you fetch the 10th row of the DataFrame?
data.iloc[9]

In [ ]:
# Can you fetch rows 20 to 30 from the DataFrame?
data.iloc[20:31]

In [ ]:
# Fetch the 'city' and 'winner' columns for rows 50 to 60 from the DataFrame.
data.iloc[50:61,[2,10]]

# Fetching rows and columns END

# Basic Operations of DataFrame START

In [ ]:
data.min(numeric_only=True)

In [ ]:
data.max(numeric_only=True)

In [ ]:
data.sum(numeric_only=True)

In [ ]:
data.mean(numeric_only=True)

In [ ]:
data.median(numeric_only=True)

In [ ]:
data.mode(numeric_only=True)

In [ ]:
data.count()

In [ ]:
# What is the minimum value in the 'win_by_runs' column?
data['win_by_runs'].min()

In [ ]:
# What is the maximum value in the 'win_by_wickets' column?
data['win_by_wickets'].max()

In [ ]:
# How many non-null values are there in the 'city' column?
data['city'].count()

In [ ]:
# How many unique teams are there in the 'team1' column?
data['team1'].nunique()

In [ ]:
# Calculate the total runs scored by all teams in the 'win_by_runs' column.
data['win_by_runs'].sum()

In [ ]:
# What is the mean value of the 'win_by_runs' column?
data['win_by_runs'].mean()

In [ ]:
# Calculate the standard deviation of the 'win_by_runs' column.
data['win_by_runs'].std()

In [ ]:
# How many times does the team 'Mumbai Indians' appear in the 'team1' column?
mask = data['team1']=='Mumbai Indians'
data[mask]['team1'].count()

In [ ]:
# How would you fetch the matches where 'Mumbai Indians' played as 'team1'?
mask = data['team1']=='Mumbai Indians'
data[mask]

In [ ]:
# What is the smallest margin of victory (in runs) for a match in the dataset?
data['win_by_runs'].min()

In [ ]:
# What is the total number of runs scored in all matches combined?
data.sum(numeric_only=True)

# Basic Operations of DataFrame END

# Filtering using conditions START

In [ ]:
mask = data['city']=='Hyderabad'
data[mask]

In [ ]:
def get_city_matches(city):
    mask = data['city']==city
    return data[mask].shape[0]

In [ ]:
get_city_matches('Hyderabad')

In [ ]:
get_city_matches('Rajkot')

In [ ]:
mask1 = data['city']=='Hyderabad'
mask2 = data['date']>'2010-01-01'
data[mask1 & mask2].shape[0]

In [ ]:
# mask1 = data['city']=='Hyderabad'
# mask2 = data['date']>'2010-01-01'
# data[mask1 & mask2].iloc[[0,1,2],[2,3,4,5,10]]

In [ ]:
# mask1 = data['team1']=='Sunrisers Hyderabad'
# mask2 = data['team2']=='Sunrisers Hyderabad'
# mask3 = data['city']=='Hyderabad'
# mask4 = data['winner']=='Sunrisers Hyderabad'
# mask5 = data['win_by_runs']>0

# data[(mask1 | mask2) & mask & mask4 & mask5 ].shape
# data

In [ ]:
# How can you filter the dataset to only show matches from a specific season?
# mask = data['season']==2017
# data[mask]

In [ ]:
# Can you demonstrate how to filter the dataset to display matches held in a particular city?
# mask = data['city'].str.lower()=='chEnnai'.lower()
# data[mask]

In [ ]:
# How would you extract the information for matches where the toss winner chose to bat?
# toss_winner = 'Chennai Super Kings'
# mask1 = data['toss_winner']==toss_winner
# mask2 = data['toss_decision']=='bat'
# data[mask1 & mask2]

In [ ]:
# Show the steps to filter the dataset to only display matches where the result was "tie."
# mask = data['result']=='tie'
# data[mask]

In [ ]:
# How can you extract matches where the margin of victory was by runs and it was more than 50 runs?
# mask = data['win_by_runs']>50
# data[mask]

In [ ]:
# Demonstrate how to filter the dataset to show matches where the DL method was applied.
# mask = data['dl_applied']==1
# data[mask]

In [ ]:
# How would you filter the dataset to display matches where a specific team won?
# team = 'Royal Challengers Bangalore'
# mask = data['winner']==team
# data[mask]

In [ ]:
# Show the steps to filter the dataset to only display matches where a certain team won by a margin of more than 30 runs.
# team = 'Royal Challengers Bangalore'
# mask = data['winner']==team
# mask2 = data['win_by_runs']>30
# data[mask & mask2]

In [ ]:
# How can you extract matches where the 'player_of_match' was from a particular team?
# chosen_team = 'Royal Challengers Bangalore'
# mask = (data['team1'] == chosen_team) | (data['team2'] == chosen_team)
# data[mask]

In [ ]:
# Demonstrate how to filter the dataset to show matches where a specific umpire1 was officiating.
# umpire = 'AY Dandekar'
# mask = data['umpire1']==umpire
# data[mask]

# Filtering using conditions END

# value_counts() START

In [ ]:
data['winner'].value_counts()

In [ ]:
# How many matches were played in each season?
# data
# data['season'].value_counts()

In [ ]:
# For a specific team, how many matches did they win as the toss winner and chose to field?
chosen_team = 'Chennai Super Kings'
mask = (data['toss_winner'] == chosen_team) & (data['toss_decision'] == 'field')
matches_won_by_fielding = data[mask]['team1'].value_counts()
matches_won_by_fielding

In [ ]:
# How many matches in the dataset had the result as 'tie' for each season?
mask = data['result']=='tie'
data[mask]['season'].value_counts()

In [ ]:
# What is the distribution of matches won by each team in the dataset?
data['winner'].value_counts()

In [ ]:
# For a particular city, how many matches were played and how many of them had the result as 'tie'?
chosen_city = "Mumbai"
# Count the total matches played in the chosen city
total_matches_in_city = data['city'].value_counts().get(chosen_city, 0)

# Count the matches with result as 'tie' in the chosen city
matches_with_tie_result = (data[data['city'] == chosen_city]['result'] == 'tie').sum()

print(f"Total matches played in {chosen_city}: {total_matches_in_city}")
print(f"Matches with result as 'tie' in {chosen_city}: {matches_with_tie_result}")

In [ ]:
# How many times was each umpire1 assigned to officiate matches in the dataset?
data['umpire1'].value_counts()

In [ ]:
# What is the distribution of matches won by a margin of more than 30 runs for each season?
mask = data['win_by_runs']>30
data[mask]['season'].value_counts()

In [ ]:
# How many times did each team win the toss and choose to bat?
mask = data['toss_decision']=='bat'
data[mask]['team1'].value_counts()

In [ ]:
# How many matches had the Duckworth-Lewis (DL) method applied for each season?
mask = data['dl_applied']==1
data[mask]['season'].value_counts()

In [ ]:
# How many matches did each team win when they won the toss and chose to bat?
team = 'Sunrisers Hyderabad'
mask1 = data['toss_winner']==team
mask2 = data['toss_decision']=='bat'
data[mask1 & mask2]['team1'].value_counts()

# value_counts() END

# Tha pandas plot() START

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
data['winner'].value_counts().plot(kind='bar')

In [ ]:
data['winner'].value_counts().plot(kind='barh')

In [ ]:
data['winner'].value_counts().head().plot(kind='bar')

In [ ]:
data['toss_decision'].value_counts().plot(kind='pie')

In [ ]:
data['win_by_runs'].plot(kind='hist')

# Tha pandas plot() END

# Series Operations START

In [ ]:
my_series = data['winner'].value_counts()

In [ ]:
my_series.head()

In [ ]:
my_series.tail()

In [ ]:
my_series.index

In [ ]:
my_series.values

In [ ]:
my_series['Chennai Super Kings']

In [ ]:
data['team1'].value_counts() + data['team2'].value_counts()

# Series Operations END

# sort_values() START

In [ ]:
(data['team1'].value_counts() + data['team2'].value_counts()).sort_values()

In [ ]:
(data['team1'].value_counts() + data['team2'].value_counts()).sort_values(ascending=False)

In [ ]:
(data['team1'].value_counts() + data['team2'].value_counts()).sort_values(ascending=False).head()

In [ ]:
data.sort_values('city')

In [ ]:
data.sort_values('city', ascending=False)

In [ ]:
data.sort_values(['city','date'])

In [ ]:
data.sort_values(['city','date'], ascending=[True, False])

In [ ]:
# How would you sort the DataFrame based on the 'win_by_runs' column in ascending order?
data.sort_values('win_by_runs')

In [ ]:
# Can you sort the DataFrame based on 'season' in ascending order and then 'win_by_runs' in descending order?
data.sort_values(['season', 'win_by_runs'], ascending=[True, False])

In [ ]:
# Sort the DataFrame by 'win_by_runs' in descending order and display the top 5 matches.
data.sort_values('win_by_runs', ascending=False).head()

In [ ]:
# Sort the DataFrame by 'win_by_runs' in ascending order and display the bottom 10 matches.
data.sort_values('win_by_runs').tail(10)

# sort_values() END

# drop_duplicates() START

In [ ]:
data.drop_duplicates(subset=['city'])

In [ ]:
data.drop_duplicates(subset=['city','season'])

In [ ]:
data.drop_duplicates('season', keep='last')[['season','winner']].sort_values('season')

In [ ]:
# How would you drop duplicate rows based on the 'team1' column?
data.drop_duplicates('team1')

In [ ]:
# Can you drop duplicate rows based on both 'team1' and 'team2' columns?
data.drop_duplicates(subset=['team1','team2'])

In [ ]:
# Drop duplicate rows based on 'city' and keep the first occurrence for each unique city.
data.drop_duplicates('city', keep='first')

In [ ]:
# Drop duplicate rows based on 'city' and keep the last occurrence for each unique city.
data.drop_duplicates('city', keep='last')

# drop_duplicates() END

# groupby() START

In [ ]:
# How many matches were played in each season?
res = data.groupby('season')
res['id'].count()

In [ ]:
# How many matches were played in each city?
res = data.groupby('city')
res['id'].count()

In [ ]:
# What is the total number of wins for each team?
res = data.groupby('winner')
res['id'].count()

In [ ]:
# How many wins did each team secure in each season?
data.groupby(['season','winner'])['winner'].count()

In [ ]:
# What is the maximum margin of victory (in runs) in a match for each season?
data.groupby('season')['win_by_runs'].max()

# groupby() END

# isin() START

In [ ]:
dataa = pd.Series(['Apple','Banana','Cherry','Donut'])

In [ ]:
dataa.isin(['Apple','Donut'])

In [ ]:
# How would you filter the matches where either 'Mumbai Indians' or 'Chennai Super Kings' played as either 'team1' or 'team2'
team_list=['Mumbai Indians','Chennai Super Kings']
data[data[['team1', 'team2']].isin(team_list)].head(50)

In [ ]:
# Can you filter the matches that took place in either 'Bangalore' or 'Delhi'?
data[data['city'].isin(['Banglore','Delhi'])]

In [ ]:
# How would you find the matches where either 'S Ravi' or 'HDPK Dharmasena' were either 'umpire1' or 'umpire2'?
data[['umpire1', 'umpire2']].isin(['S Ravi','HDPK Dharmasena']).count()

# isin() END

# merge() START

In [ ]:
left_df = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'], 'A': ['A0', 'A1', 'A2', 'A3']})
right_df = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'], 'B': ['B0', 'B1', 'B2', 'B3']})

merged_df = pd.merge(left_df, right_df, on='key')
print(merged_df)

In [ ]:
df1 = pd.DataFrame({
    'key': ['K0', 'K1', 'K2', 'K3'],
    'A': ['A0', 'A1', 'A2', 'A3'],
    'df1_key': ['K0', 'K1', 'K2', 'K3']
})

df2 = pd.DataFrame({
    'key': ['K0', 'K1', 'K2', 'K3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'df2_key': ['K0', 'K1', 'K2', 'K3']
})

In [ ]:
# Merge two DataFrames df1 and df2 on a common column 'key'.
pd.merge(df1, df2, left_on='df1_key', right_on='df2_key')

In [ ]:
# Merge two DataFrames df1 and df2 on both 'key1' and 'key2'.
pd.merge(df1, df2, left_on=['key','df1_key'], right_on=['key','df2_key'])

In [ ]:
# Perform a left join between df1 and df2.
pd.merge(df1, df2, on='key', how='left')

In [ ]:
# Perform a right join between df1 and df2.
pd.merge(df1, df2, on='key', how='right')

# merge() END

# pivot_table() START

In [3]:
df = pd.DataFrame({'Category': ['A','B','A','B','A','B'], 'Value': [10, 15, 12, 20, 18, 25]})

In [5]:
df.pivot_table(index='Category', values='Value', aggfunc='sum')

          Value
Category
A            40
B            60

In [7]:
sales = pd.DataFrame({
    'Region': ['North', 'South', 'North', 'West', 'East', 'West', 'North', 'South'],
    'Category': ['A', 'B', 'A', 'B', 'A', 'A', 'B', 'B'],
    'Sales': [100, 200, 150, 300, 180, 250, 120, 190],
    'Price': [10, 15, 12, 20, 18, 25, 30, 22],
    'Quantity': [5, 7, 8, 6, 10, 9, 4, 6]
})

In [9]:
# Create a pivot table that shows the sum of 'Sales' for each 'Region'.
sales.pivot_table(index='Region',values='Sales',aggfunc='sum')

        Sales
Region
East      180
North     370
South     390
West      550

In [11]:
# Create a pivot table that shows the mean 'Price' for each 'Category' within each 'Region'.
sales.pivot_table(index=['Category','Region'], values='Price', aggfunc='mean')

                 Price
Category Region
A        East     18.0
         North    11.0
         West     25.0
B        North    30.0
         South    18.5
         West     20.0

In [13]:
# Create a pivot table that displays the median 'Quantity' for each 'Category' and 'Region'.
sales.pivot_table(index=['Category','Region'],values='Quantity',aggfunc='median')

                 Quantity
Category Region
A        East        10.0
         North        6.5
         West         9.0
B        North        4.0
         South        6.5
         West         6.0

# pivot_table() END

# corr START

In [16]:
c = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [5, 4, 3, 2, 1]
})

c.corr()

     A    B
A  1.0 -1.0
B -1.0  1.0

# corr END

# rename() START

In [18]:
r = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

In [21]:
r.rename(columns={'A': 'Column A', 'B': 'Column B'}, inplace=True)
r

   Column A  Column B
0         1         4
1         2         5
2         3         6

In [26]:
ri = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
}, index=['one', 'two', 'three'])

In [29]:
ri.rename(columns={'one': 'first', 'two': 'second', 'three': 'third'}, inplace=True)
ri

       A  B
one    1  4
two    2  5
three  3  6

In [33]:
# Given a DataFrame df with columns 'A', 'B', and 'C', rename 'A' to 'Column1', 'B' to 'Column2', and 'C' to 'Column3'.
df1 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})
df1.rename(columns={'A': 'Column1','B': 'Column2','C': 'Column3'})

   Column1  Column2  Column3
0        1        4        7
1        2        5        8
2        3        6        9

In [36]:
# Given a DataFrame df with columns 'Age' and 'Height', create a new DataFrame with the columns renamed to 'Years' and 'Length', respectively.
d = pd.DataFrame({'Age': [18, 20, 22], 'Height': [4.4, 5.5, 6.6]})
d.rename(columns={'Age':'Yearas', 'Height':'Length'})

   Yearas  Length
0      18     4.4
1      20     5.5
2      22     6.6

In [37]:
# Given a DataFrame df with index 'one', 'two', 'three', rename the index 'two' to 'second'.
d.rename(index={2:'second'})

        Age  Height
0        18     4.4
1        20     5.5
second   22     6.6

# rename() END

# set_index() and reset_index() START

In [45]:
data.set_index('id', inplace=True)

In [46]:
data.reset_index()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

# set_index() and reset_index() END

# dropna() START

In [51]:
na = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8]
})
na.dropna()

     A    B
0  1.0  5.0
3  4.0  8.0

In [56]:
# Given a DataFrame df with some NaN values, drop rows that have any NaN value.
df1 = pd.DataFrame({
    'A': [1, np.nan, 3, 4],
    'B': [5, 6, np.nan, 8]
})

In [57]:
df2 = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, np.nan, 7, np.nan],
    'C': [np.nan, np.nan, np.nan, np.nan]
})

In [54]:
df3 = pd.DataFrame({
    'A': [np.nan, np.nan, np.nan, np.nan],
    'B': [np.nan, np.nan, np.nan, np.nan],
    'C': [np.nan, np.nan, np.nan, np.nan]
})

In [55]:
df4 = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [np.nan, np.nan, np.nan, np.nan],
    'C': [5, 6, 7, 8]
})

# dropna() START